<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Shipping station</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="app1.js"></script>

    <script>
          $('a[target="_blank"]').removeAttr('target');
    </script>

      </head>
  <body ng-app="shippingstation" ng-controller="shipmentcontroller">

     <button ng-click="funcA()">Bot Arrive</button>
<!--
    <button ng-click="funcB()">Trigger B</button>
  -->
    <h4>Order List</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <td>OrderID</td>
          <td>ProductID</td>
          <td>Quantity</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="order in users.Orders | groupBy:'orderID'">
          <td>
            <h4 class="groupHeader" ng-show="order.group_by_key">{{order.orderID}}</h4>
          </td>
          <td>
            <span class="groupValue">{{order.name}}</span>
          </td>

          <td>
              <span class="groupValue">{{order.quantity}}</span>
          </td>
          <td>

            <a  class="groupHeader" ng-show="order.group_by_key" ng-href="http://1fee38b1.ngrok.io/api/markOrderFilled/{{order.orderID}}">Click here to mark order id {{order.orderID}} as shipped</a>
          </td>
        </tr>
      </tbody>
</table>

<!-- <h4>Ship List</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <td>OrderID</td>

    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="order in users.Orders | groupBy:'orderID'">
      <td>

        <a  class="groupHeader" ng-show="order.group_by_key" ng-href="http://1fee38b1.ngrok.io/api/markOrderFilled/{{order.orderID}}">Click here to mark order id {{order.orderID}} as shipped</a>
      </td>

    </tr>
  </tbody>
</table> -->

<button ng-click="funcC()">Bot1 go</button>
<button ng-click="funcD()">Bot2 go</button>
<button ng-click="funcE()">Maintainence</button>

<!-- <a href="http://cbd0b3ab.ngrok.io/bot1" target="_blank">Go Bot1</a>
<a href="http://cbd0b3ab.ngrok.io/bot2"target="_blank" >Go Bot2</a>
<a href="http://cbd0b3ab.ngrok.io/maintenance" target="_blank">Maintainence</a> -->
  </body>
</html>
